body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    // min-height: 100vh;
    // background-color:hsl(30, 38%, 92%) ;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // place-items: center;
    

}
.container{
    height: 100vh;
    background-color:hsl(30, 38%, 92%) ;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    
}
.product-preview-container{
    margin: 300px;
    height: 100%;
    display: flex;
    place-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    margin:500px;
}

.product-image{
    height:100% ;
    width: auto;
    background-image: url("images/image-product-desktop.jpg");
    background-repeat: no-repeat ;
    flex:1;
      
}
.product-preview{
    flex:1;
}
button{
    background-color:   hsl(158, 36%, 37%);
    color:  hsl(0, 0%, 100%);
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    padding:10px;
}
p{
    color:   hsl(212, 21%, 14%);
}